<div class="sidebar">
  <h1 class="title">Flexia</h1>

  <div class="links">
    <div
      *ngFor="let item of routers"
      routerLink="{{ item.path }}"
      routerLinkActive="selected"
      class="link"
    >
      <fa-icon [icon]="item.icon"></fa-icon>
      <a>{{ item.path }}</a>
    </div>
    <div class="divider"></div>
  </div>
  <app-modal *ngIf="openModal" [handleModal]="handleModal" />
  <div class="button-wrapper">
    <button (click)="handleModal()">
      <span>+</span>
      <p>New Project</p>
    </button>
  </div>
</div>
