<div *ngFor="let project of projects" class="card">
  <div class="title">
    <div class="color"></div>
    <h4>{{ project.name }}</h4>
  </div>
  <div class="stat-list">
    <div class="stat">
      <p>Todo Tasks</p>
      <p>52</p>
    </div>
    <div class="stat">
      <p>In Progress Tasks</p>
      <p>52</p>
    </div>
    <div class="stat">
      <p>Ready for QA Tasks</p>
      <p>52</p>
    </div>
    <div class="stat">
      <p>Done Tasks</p>
      <p>52</p>
    </div>
  </div>
  <div class="button-wrapper">
    <button>Learn More</button>
  </div>
</div>
