<div *ngIf="project" class="card">
  <div class="title">
    <div class="color"></div>
    <h4>{{ project.name }}</h4>
  </div>

  <div class="stat-list">
    <div class="stat">
      <p>Todo Tasks</p>
      <p>{{ toDoTasks }}</p>
    </div>
    <div class="stat">
      <p>In Progress Tasks</p>
      <p>{{ inProgTasks }}</p>
    </div>
    <div class="stat">
      <p>Ready for QA Tasks</p>
      <p>{{ testingTasks }}</p>
    </div>
    <div class="stat">
      <p>Done Tasks</p>
      <p>{{ doneTasks }}</p>
    </div>
  </div>
  <div class="button-wrapper">
    <button (click)="deleteProject()">Delete</button>
  </div>
</div>
